html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
}
canvas {
  display: block;
  border-bottom: 3px #40e0d0 solid;
}

button{
	position: relative;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5em;
	padding: 0.5em 1em;
	background-color: rgb(20, 20, 20);
	border: 2px #40e0d0 solid;
	color: #40e0d0;
	transition: 0.2s;
	outline: none;
}

button:hover{
	background-color: #40e0d0;
	color: rgb(20, 20, 20);
	transition: 0.2s;
}
